@page
@model MVC.Pages.DashboardModel

<h2>Dashboard</h2>

<div>
    <h3>Informes</h3>
    <ul>
        <li>Total de productos: @Model.TotalProductos</li>
        <li>Total de usuarios: @Model.TotalUsuarios</li>
    </ul>
</div>  