@model MVC.Models.Perifericos

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>Perifericos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombrePeriferico" class="control-label"></label>
                <input asp-for="NombrePeriferico" class="form-control" />
                <span asp-validation-for="NombrePeriferico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IpAdress" class="control-label"></label>
                <input asp-for="IpAdress" class="form-control" />
                <span asp-validation-for="IpAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MacAdress" class="control-label"></label>
                <input asp-for="MacAdress" class="form-control" />
                <span asp-validation-for="MacAdress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

